extends layout

block content
  h1= title

  ul
    each categ in category_list
       li
        a(href=categ.url) #{categ.title}
        |  (#{categ.description})
    else
      li There are no categories.
  ul
    li 
      a(href='/catalog/category/create') Create category
      br
    li
      a(href='/') Go Home