extends layout

block content
  h1= title

  ul
    each part in computerparts_list
      li= part.Name

    else
      li There are no computer parts.
  ul
    li 
      a(href='/catalog/computerparts/create') Create Part
    br
    li
      a(href='/') Go Home