extends layout

block content
  h1= title
  form(method='POST' action='')
    div.form-group
      label(for='name') Computer Parts Name:
      input#name.form-control(type='text' placeholder='Computer Parts Name' name='name' required='true')
    div.form-group
      label(for='description') Description:
      input#description.form-control(type='textarea', placeholder='Description' name='description' value=(undefined===computerpart ? '' : category.description) required='true')
    div.form-group
      label(for='category') Category:
      select#category.form-control(type='select', placeholder='Select category' name='category' required='true' )
        for categ in Category_list
          option(value= categ.id) #{categ.title}
    div.form-group
      label(for='category') Manufacturer:
      input#category.form-control(type='text', placeholder='Category' name='category' required='true')
    button.btn.btn-primary(type='submit') Submit