extends layout

block content
  h1= title
  p Welcome to #{title}
  ul
    li 
      a(href='/catalog/category') Category list
    li 
      a(href='/catalog/computerparts') Computer Parts list
    li 
      a(href='/catalog/manufacturer') Manufacturer list