extends layout

block content
  h1= title
  form(method='POST' action='')
    div.form-group
      label(for='title') Name:
      input#title.form-control(type='text' placeholder='Manufacturer Name' name='title' required='true')
    div.form-group
      label(for='description') Description:
      input#description.form-control(type='textarea', placeholder='Description' name='description' value=(undefined===manufacturer ? '' : manufacturer.description) required='true')

    button.btn.btn-primary(type='submit') Submit