extends layout

block content
  h1= title

  ul
    each manuf in manufacturer_list
      li= manuf.Name

    else
      li There are no manufacturers.
  ul
    li 
      a(href='/catalog/manufacturer/create') Create manufacturer
      br
    li
      a(href='/') Go Home